
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
    <h2>Reportes</h2>
    <hr />
    <p><b>Para generar un reporte de ingresos y estadísticas de las últimas funciones, hacer click en el botón correspondente. Se descargará el reporte delimitado por | (pipe) que podrá visualizar y filtrar en Excel o similares según sus intereses.</b></p>
    <br />
    <br />
    @using (Html.BeginForm("GenerarReporte", "Reportes", FormMethod.Get))
    {
        <button type="submit">Generar</button>
    }

</div>
<br />
<br />
<br />
<br />

<script>
    $(document).ready(function () {
        $('header').removeClass('ht-header').addClass('ht-header-solid');
    });
</script>

